* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: wheat;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 45px;
    font-weight: 800;
}

.blog-meta  {
    text-align: center;
  margin-top: 40px;
  font-size: 18px;
  font-weight: bold;
}

.blog-content {
  width: 80%;
  margin: 40px auto;
  line-height: 1.7;
}

.blog-content img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

p {
    font-size: 18px;
    font-weight: 800;
}

.back-btn {
  display: inline-block;
  margin-top: 30px;
  color: #ff6600;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
}
