* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: white;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 4rem;
  grid-area: header;
  background: linear-gradient(
    to bottom,
    rgba(255, 94, 0, 0.781),
    rgba(255, 255, 255, 0.229)
  );
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  padding: 15px 25px;
}

.logo {
  margin: 10px;
  height: auto;
  width: 65px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  font-size: 20px;
}


.contents a {
  text-decoration: none;
  color: black;
  font-size: 13px;
  font-weight: 700;
}

.li,a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  text-shadow: 0 0 2px rgba(240, 239, 238, 0.986);
  cursor: pointer;
}

.li:hover {
  color: rgba(18, 15, 15, 0.87);
  transition: 0.3s;
}

/*Hero*/
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #ff6f0079, #ffd64f8c);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  padding: 20px 35px;
  gap: 20px;
}

.hero-image {
  width: 60%;
  height: 100%;
  margin-top: 3.5%;
  padding-right: 50px;
}

.hero-text,
h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin: 15px;
}

.hero-text,
p {
  text-align: center;
  font-size: 1rem;
  margin: 20px;
}

.signup-btn {
  position: relative;
  border-radius: 10px;
  width: 8rem;
  margin: auto;
  text-align: left !important;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  transition: transform 0.4s ease-in;
}

.signup-btn:hover {
  animation: wiggle 0.4s ease-in-out;
  background-color: black;
  color: white;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
    padding-right: 50px;
  }
  25% {
    transform: rotate(7deg);
    transform: scale(1.1);
  }
  50% {
    transform: rotate(-7deg);
  }
  75% {
    transform: rotate(7deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#bie {
  font-size: 1rem;
  color: white;
}

input {
  display: flex;
  flex-direction: column;
  margin: 5px 0px 15px 0px;
  border: none;
  width: 100%;
  padding: 10px 0px 5px 10px;
  border-bottom: 1px solid rgb(126, 125, 125);
  outline: none;
  background-color: rgba(253, 252, 251, 0.075);
  border-radius: 8px;
}

label {
  margin: 0px 0px 5px 0px;
  font-size: 1rem;
  font-weight: bold;
}

.flex_gender {
  flex-direction: row;
  display: inline-flex;
  gap: 8px;
}

input::placeholder {
  opacity: 0.7;
}

#form {
  position: absolute;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.247);
  backdrop-filter: blur(30px);
  height: fit-content;
  width: 20rem;
  top: 15%;
  right: 17%;
  float: right;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgb(250, 114, 3);
  border: 1px solid rgb(253, 252, 252);
  animation: slideDown 1s ease forwards;
  z-index: 1;
  cursor: pointer;
}

@keyframes slideDown {
  0% {
    transform: translateY(-400px);
    opacity: 0;
  }
  50% {
    transform: translateY(80px);
    opacity: 0.5s;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.page2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  gap: 50px;
  margin-bottom: 10px;
}

.product_box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0px 0px;
  justify-content: space-around;
}

#products:nth-child(5),
#products:nth-child(6),
#products:nth-child(7),
#products:nth-child(8) {
  margin-bottom: 20px;
}

#products {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 12px 10px 0px 10px;
  align-items: center;
  height: 23rem;
  width: 7rem;
  flex: 1 1 13rem;
  background-color: white;
  margin: 20px 0px 0px 0px;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#products:hover {
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgb(128, 125, 125);
  transform: translateY(-5px);
}
.pro {
  height: 18rem;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(224, 223, 223);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.labels {
  margin: 10px 0px 0px 0px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  display: flex;
  align-self: flex-start;
  justify-content: center;
}

.star {
  margin: -30px 0px 0px 0px;
  height: 80px;
  display: flex;
  align-self: flex-start;
}

.price {
  margin: -30px 0px 0px 0px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  display: flex;
  align-self: flex-start;
  justify-content: center;
}

#cart_btn {
  margin: 30px 10px 10px 10px;
  border-radius: 8px;
  width: 13rem;
  padding: 5px;
  display: flex;
  gap: 10px;
  pointer-events: none;
  align-self: center;
  justify-content: center;
  opacity: 0;
  cursor: pointer;
}

#products:hover #cart_btn {
  opacity: 1;
  transition: transform 0.3s ease;
  pointer-events: all;
}

#pro1 {
  background-image: url(./Product1.png);
}

#pro2 {
  background-image: url(./Brown\ Jacket.png);
}

#pro3 {
  background-image: url(./Thermacool\ Fridge.jpg);
}

#pro4 {
  background-image: url(./watch2.jpg);
}

#pro5 {
  background-image: url(./Designers\ shirt.png);
}

#pro6 {
  background-image: url(./Redmi\ note\ 15.webp);
}

#pro7 {
  background-image: url(./Men\ shirt.png);
}

#pro8 {
  background-image: url(./Shoe5.png);
}

/* Footer */
.footer1 {
  margin: 0;
  padding: 0;
  height: 700px;
  display: grid;
  grid-template-rows: repeat(2) 1fr;
  grid-template-columns: 100%;
  grid-template-areas:
    "footer_head"
    "footer_bottom";
}

.footer_head {
  grid-area: footer_head;
  background-color: rgb(63, 62, 62);
  display: flex;
  flex-direction: row;
  color: white;
  gap: 20px;
  justify-content: space-around;
  font-family: Momo Trust Display Static;
}

.logo2 {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: rgb(201, 134, 10);
  align-self: center;
  display: flex;
  margin: 30px auto;
}

.foot:nth-child(2) {
  flex-grow: 1;
}

.foot2 {
  display: flex;
  flex-direction: column;
}

.foot2 h5 {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  text-align: left;
}

.top1 {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  text-align: left;
}

.check {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.check p {
  margin: 10px;
  text-align: left;
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}

.check_cookies {
  width: 20px;
  height: 20px;
  margin-bottom: 50px;
}

.download-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.download-section p {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
  cursor: pointer;
}

.foot h3 {
  text-align: center;
  font-size: 25px;
  font-family: Momo Trust Display Static;
}

.footer_bottom {
  background-color: rgb(120, 120, 121);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 30px;
}

.footer-text1 {
  padding: 20px;
  color: white;
  cursor: pointer;
}

.footer-text1 > h2 {
  color: white;
  font-size: 25px;
  margin: 20px;
  font-family: Libre Baskerville Static;
}

.contact-info > span {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  font-size: 15px;
  margin: 20px;
  font-family: Roboto Condensed;
}

.smg-icon {
  display: flex;
  gap: 15px;
  font-size: 24px;
  color: white;
  margin: 20px;
}

.copy {
  margin-top: 10vh;
  font-size: 15px;
  font-family: Roboto Condensed;
}

.footer-text2 {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  margin-right: 15%;
  gap: 30vh;
  cursor: pointer;
}

.fi {
  color: white;
  font-size: 25px;
  margin-bottom: 40px;
  font-family: Libre Baskerville Static;
}

.fi2 {
  color: white;
  font-size: 25px;
  margin-bottom: 40px;
  font-family: Libre Baskerville Static;
}

.workout > p {
  color: white;
  font-size: 15px;
  font-family: Roboto Condensed;
  margin: 10px;
  display: flex;
}

.live-chart > p {
  color: white;
  font-size: 15px;
  font-family: Roboto Condensed;
  display: flex;
  margin: 10px;
}

.foot {
  width: 340px;
  height: 200px;
  padding: 15px;
}

.live-chart a {
  text-decoration: none;
  color: white;
}

.workout a {
  text-decoration: none;
  color: white;
}

.copy2 {
  color: white;
}

.mail-sub {
  display: flex;
  gap: 8px;
  flex-direction: row;
}

.mail-sub input::placeholder {
  padding-left: 10px;
}

.sub-mail {
  width: 300px;
  border-radius: 10px;
  background-color: white;
  border: 2px solid rgb(197, 197, 197);
}

.sub-btn {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  background-color: orange;
  cursor: pointer;
}

/*mobile view*/
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
    width: 100%;
  }

  /*header*/
  .nav {
    display: none;
    position: absolute;
    top: 60px;
    right: 24vh;
    background-color: white;
    width: 50%;
    height: 50vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.949);
    border-radius: 8px;
    z-index: 10;
  }

  .nav.show {
    display: block;
  }

  .nav a {
    display: block;
    padding: 8px 10px;
    color: black;
    text-decoration: none;
    text-align: left;
    margin: 5px;
    font-size: 15px;
    font-weight: 500;
  }

  .nav a:hover {
    background-color: #f1f1f1;
    color: black;
  }

  .nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 40px;
    background-color: antiquewhite;
    border-radius: 5px;
  }

  .contents {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    width: 90%;
    height: 27vh;
    left: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.949);
    border-radius: 8px;
  }

  .contents a {
    display: block;
    color: black;
    text-decoration: none;
    text-align: left;
    margin: 5px;
    font-size: 13px;
    font-weight: 500;
  }

  .contents a:hover {
    background-color: rgba(128, 128, 128, 0.702);
    color: black;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid gold;
  }

  .contents.show {
    display: block;
  }

  .logo img {
    width: 60px;
  }

  .nav-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -1%;
  }

  /*Sign Up*/
  .signup-btn {
    font-size: 0.8em;
    width: 18vh;
    height: 40px;
    font-weight: bold;
    align-items: center;
  }

  /*Input form*/
  input {
    display: flex;
    flex-direction: column;
    margin: 5px 0px 15px 0px;
    border: none;
    width: 100%;
    padding: 10px 0px 5px 10px;
    border-bottom: 1px solid rgb(126, 125, 125);
    outline: none;
    background-color: rgba(253, 252, 251, 0.075);
    border-radius: 8px;
  }

  #form label {
    display: flex;
    padding-bottom: 10px;
  }

  .flex_gender input {
    flex-direction: row;
    display: inline-flex;
    gap: 5px;
    cursor: pointer;
  }

  #form {
    position: absolute;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.247);
    backdrop-filter: blur(30px);
    height: fit-content;
    width: 20rem;
    top: 15%;
    right: 17%;
    float: right;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgb(250, 114, 3);
    border: 1px solid rgb(253, 252, 252);
    animation: slideDown 1s ease forwards;
    z-index: 1;
    cursor: pointer;
  }
  /*Hero*/
  .hero {
    width: 100%;
  }

  .hero-text,
  h1 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 15px;
  }

  .bi-arrow-right {
    margin-left: 50%;
  }

  .hero-text,
  p {
    text-align: center;
    font-size: 14px;
    margin: 20px;
  }

  .hero-image {
    display: none;
  }

  .hero {
    flex-direction: column;
    text-align: center;
    height: 400px;
    width: 100%;
    margin-top: 50px;
  }

  /*Product*/
  .product_box {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  #products {
    width: 100%;
    left: 0;
    justify-content: center;
    gap: 10px;
    padding: 5px;
  }

  #cart_btn {
    margin: 30px 10px 10px 10px;
    width: 9rem;
    height: 30px;
    padding: 5px;
    display: flex;
    gap: 10px;
    pointer-events: none;
    align-self: center;
    justify-content: center;
    opacity: 0;
  }

  .product_box button,
  a {
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bi-cart4 {
    font-size: 15px;
  }

  /* Footer*/
  .footer1 {
    display: flex;
    cursor: pointer;
    flex-direction: column;
  }

  .footer_head {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer_bottom {
    display: block;
  }

  .contact-info {
    display: block;
  }

  .contact-info > span {
    font-size: 15px;
    text-align: left;
    margin-left: 3px;
  }

  .footer_bottom {
    display: block;
  }

  .smg-icon {
    display: flex;
    font-size: 13px;
    text-align: left;
    margin-left: 3px;
  }

  .footer-text1 {
    display: block;
    text-align: left;
  }

  .footer-text1 h2 {
    font-size: 20px;
    text-align: left;
    margin-left: 3px;
  }

  .footer-text2 {
    display: block;
    border-top: 0.95px solid black;
  }

  .workout p > a {
    font-size: 15px;
    text-align: left;
    margin-left: 3px;
    margin-top: 20px;
  }

  .workout p > a:hover {
    border-bottom: 2px solid black;
    color: white;
  }

  .live-chart p > a {
    text-align: left;
    margin-left: 3px;
    font-size: 14px;
    margin-top: 20px;
  }

  .live-chart p > a:hover {
    border-bottom: 2px solid black;
    color: white;
  }

  .copy {
    display: none;
  }

  .copy2 > p {
    margin-top: 25%;
  }

  .fi {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .fi2 {
    font-size: 20px;
    margin-top: 20px;
  }

  .text-2 {
    border-top: 0.95px solid black;
  }
}

/*Ipad view*/
@media (min-width: 822px) and (max-width: 1180px) {
  body {
    overflow-x: hidden;
    width: 100%;
  }

  /*Header*/
  header {
    padding: 15px 30px;
  }

  .logo img {
    width: 60px;
  }

  nav  {
    gap: 20px;
  }

  nav ul li a {
    font-size: 1rem;
  }

  .signup-btn {
    align-items: center;
  }

  .contents {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    width: 30%;
    height: 20vh;
    right: 25%;
    top: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.949);
    border-radius: 8px;
  }

  .contents a {
    display: block;
    color: black;
    text-decoration: none;
    text-align: left;
    margin: 15px;
    font-size: 18px;
    font-weight: 500;
  }

  .contents a:hover {
    background-color: rgba(128, 128, 128, 0.702);
    color: black;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid gold;
  }

  .contents.show {
    display: block;
  }

  /*Hero*/
  .hero {
    width: 100%;
    height: 50vh;
  }

  .hero-text h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }

  .hero-image {
    display: none;
  }

  .signup-btn {
    height: 50px;
    cursor: pointer;
  }

  /*Footer*/
  .footer_head {
    height: 300px;
  }

  .download-section p {
    font-size: 12px;
    font-weight: bold;
    display: flex;
    grid-area: 2px;
    padding: 2px 5px;
  }

  .footer-text2 {
    display: flex;
    text-align: center;
    justify-content: space-between;
    gap: 50px;
    padding: 5px 15px;
    margin-top: 20px;
  }

  .text-2 {
    display: block;
  }

  .workout a {
    margin: 5px;
  }

  .fi2 {
    text-align: left;
  }


  .nav-btn {
    display: none;
  }

  .live-chart a {
    margin: 5px;
  }

    .copy2 {
    display: none;
  }
}

/*mac book*/
@media (min-width: 900px) {
  .nav-btn {
    display: none;
  }


  body {
  width: 100%;
  
  }

  .contents {
    display: none;
    position: fixed;
    background-color: whitesmoke;
    width: 20%;
    height: 35vh;
    right: 18%;
    top: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.949);
    border-radius: 8px;
  }

  .contents a {
    display: block;
    color: black;
    text-decoration: none;
    text-align: left;
    margin: 15px;
    font-size: 18px;
    font-weight: 500;
  }

  .contents a:hover {
    background-color: rgba(128, 128, 128, 0.702);
    color: black;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid gold;
  }

  .contents.show {
    display: block;
  }

  .copy2 {
    display: none;
  }
}
