* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(245, 222, 179, 0.466);
    width: 100%;
}

h1 {
    text-align: center;
    margin: 20px;
    font-size: 50px;
    font-weight: 700;
}

p {
    text-align: center;
    margin: 20px;
    font-size: 25px;
    font-weight: lighter;
}



/*Mobile view*/
@media (max-width: 768px) {
    h1 {
        text-align: center;
    margin: 20px;
    font-size: 30px;
    font-weight: 700;
    }
}

p {
    text-align: center;
    margin: 20px;
    font-size: 15px;
    font-weight: lighter;
}

/*Ipad view*/
@media (min-width: 820px) and (max-width: 1180px) {
h1 {
     text-align: center;
    margin: 20px;
    font-size: 50px;
    font-weight: 700;
}

p {
    text-align: center;
    margin: 20px;
    font-size: 20px;
    font-weight: 500;
}
}

/*Desktop view*/
@media (min-width: 768px) {
    h1 {
     text-align: center;
    margin: 20px;
    font-size: 50px;
    font-weight: 700;
}

p {
    text-align: center;
    margin: 20px;
    font-size: 20px;
    font-weight: lighter;
}
}